*{
	margin: 40px;
	padding: 0px;
	font-family: sans-serif;

}
body{
	background: #3e5669;

}
.main{
	position: absolute;
	top: 0%;
	left: 50px;

}
input{
	border: 3px solid #32e17c;
	height: 40px;
	width: 300px;
	border-radius: 50px;
	padding: 0px 10p; 
}